[battery]
full_symbol = "• "
charging_symbol = "⇡ "
discharging_symbol = "⇣ "
unknown_symbol = "❓ "
empty_symbol = "❗ "

[nodejs]
symbol = "[⬢](bold green) "

[kubernetes]
format = 'on [⛵ ($context )\($namespace\)](dimmed green) '
disabled = false
