{{- $home := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") (or (eq .chezmoi.hostname "hella"))) -}}
{{-   $home = true -}}
{{- end -}}

{{- $work := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.hostname "NL1-LIN-002")) -}}
{{-   $work = true -}}
{{- end -}}

{{- $server := false -}}
{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") (ne .chezmoi.hostname "hyperion") (ne .chezmoi.hostname "surface-pro")) -}}
{{-   $server = true -}}
{{- end -}}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    name = "Jan"
    email = "ching@chilla.ching"
    home = {{ $home }}
    work = {{ $work }}
    server = {{ $server }}
    mobile = {{ $mobile }}
