{{ $type_machine := promptStringOnce . "type of machine" " home OR server " }}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    name = "Jan"
    email = "ching@chilla.ching"
    type_machine = {{ $type_machine | quote }}
