#!/bin/sh

set -o pipefail

echo {{ .type_machine }}

sudo apt-get update -y
sudo apt-get upgrade -y

sudo apt-get install -y \
    software-properties-common \
    python3 \
    python3-pip \
    python3-setuptools \
    python3-venv \
    neofetch \
    fish \
    ripgrep \
    thermald \
    age \
    exa \
    jsonnet \
    git \
    tmux

if [ ! -f "${HOME}/key.txt" ]; then
    age --decrypt --output "${HOME}/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${HOME}/key.txt"
fi
