local install_path = vim.fn.stdpath 'data' .. '/site/pack/packer/start/packer.nvim'
if vim.fn.empty(vim.fn.glob(install_path)) > 0 then
  vim.cmd('!git clone https://github.com/wbthomason/packer.nvim ' .. install_path)
end

return require('packer').startup(function(use)
  -- Packer can manage itself as an optional plugin
  use { 'wbthomason/packer.nvim' }

  use { 'christoomey/vim-tmux-navigator' }
  use { 'hoob3rt/lualine.nvim' }
  use {
    'akinsho/nvim-bufferline.lua',
    tag = '*',
    requires = 'kyazdani42/nvim-web-devicons',
  }

  use { 'nvim-telescope/telescope.nvim' }
  use { 'nvim-lua/plenary.nvim' }
  use { 'kyazdani42/nvim-web-devicons' }

  -- Git
  use { 'lewis6991/gitsigns.nvim', requires = { 'nvim-lua/plenary.nvim' } }

  -- LSP
  use {
    'williamboman/mason.nvim',
    'williamboman/mason-lspconfig.nvim',
    'neovim/nvim-lspconfig',
  }
  use { 'nvim-treesitter/nvim-treesitter', run = ':TSUpdate' }
  use { 'nvim-lua/lsp-status.nvim' }
  use { 'folke/trouble.nvim' }
  use { 'ray-x/lsp_signature.nvim' }
  use { 'jose-elias-alvarez/null-ls.nvim', requires = { 'nvim-lua/plenary.nvim' } }

  -- COMMENTS
  use { 'numToStr/Comment.nvim' }

  -- cmp
  use { 'hrsh7th/cmp-nvim-lsp' }
  use { 'hrsh7th/cmp-buffer' }
  use { 'hrsh7th/cmp-path' }
  use { 'hrsh7th/cmp-cmdline' }
  use { 'hrsh7th/nvim-cmp' }

  -- pair
  use { 'windwp/nvim-autopairs' }

  -- snippets
  use { 'hrsh7th/cmp-vsnip' }
  use { 'L3MON4D3/LuaSnip' }
  use { 'saadparwaiz1/cmp_luasnip' }
  use { 'rafamadriz/friendly-snippets' }

  -- Java
  use { 'mfussenegger/nvim-jdtls' }
  use { 'mfussenegger/nvim-dap' }

  -- Theme
  use { 'rebelot/kanagawa.nvim' }

  -- ui
  use 'kyazdani42/nvim-tree.lua'
  use 'lukas-reineke/indent-blankline.nvim'
  use {
    'folke/which-key.nvim',
    config = function()
      require('which-key').setup()
    end,
  }

{{- if eq .type_machine "home" }}
  -- neorg managing
  use {
    'nvim-neorg/neorg',
    run = ':Neorg sync-parsers', -- This is the important bit!
    requires = 'nvim-lua/plenary.nvim',
  }
{{- end }}

end)
